* { 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
     margin: 0; 
     padding: 0; }

body {
    background: transparent;
    overflow: hidden;
}

#container {
   /* display: none; / Mantém escondido no início */
    position: absolute;
    right: 25px;
    top: 20%;
    width: 270px;
    min-height: 200px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 9999; /* Garante que fique acima de tudo */
    flex-direction: column; /* Necessário para o 'flex' do JS funcionar */

    border-radius: 20px;
}

.menu-header {
    padding: 15px 10px;
    background: linear-gradient(90deg, #01FFE1, #9D01FF);
    text-align: center;
    border-radius: 18px 18px 0 0;
}

.menu-header h3 { font-size: 1.2rem; letter-spacing: 2px; }
.subtitle { font-size: 0.7rem; color: #ff2b2b; text-transform: uppercase; }

.menu-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
}

.menu-button {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
}

.menu-button:hover, .menu-button.selected {
    background: #923fff;
    padding-left: 20px; /* Efeito de slide ao passar o mouse */
}

.arrow { color: rgb(255, 255, 255); }

#footer {
    padding: 12px;
    text-align: center;
    background: rgba(82, 82, 82, 0.5);
    font-size: 0.7rem;
    color: #ffffff;
    border-radius: 0 0 20px 20px;
}


/*  Scroll mouse FiveM (UI Moderna)*/
::-webkit-scrollbar {
    width: 0px;  /* Remove a largura visual */
    background: transparent; /* Remove o fundo */
}